body{
    background-color:transparent;

}
.toparea{
    padding: 50px 0;
    background-color: none;
}
.toparea img{
    width: 120px;
    height: 120px;
}
.toparea h1{
    font-size: 3rem;
    font-weight: bolder;
    text-shadow: yellow 2px 2px 3px;
}
.boxarea{
    padding: 50px 0px;
}
.box{
    margin: 10px;
    overflow: hidden;
}
.box img{
    width: 100%;
    height: auto;
    transition: all 4s;
}
.box img:hover{
    transform: scale(1.2,1.2);
}
.details{
    position: absolute;
    bottom: 30%;
    width: 100%;
    text-align: center;
    font: bolder arial 30px;
    font-size: 3rem;
    text-shadow: 2px 3px 2px red;
}
#menuarea .nav-link{
    color: red !important;
    background-color: yellow;
    font-weight: bold;
    padding: 10px 25px !important;
    border-right: solid 1px black;
}
#menuarea .nav-link:hover{
    color: yellow !important;
    background-color: red;
}
#footerarea{
    background-color:black;
}
#footerarea .col{
    margin: 0px;
    border-right: 1px solid white;
}